<% if current_user.taught_courses.size == 0 %>
    <div class="card"> 
        <div style="margin: 5%">
            <button class="pure-button">
                <%= link_to 'No Courses Yet, Add One!', new_course_path %>
                <i class="fa fa-graduation-cap"></i>
            </button>
        </div>
    </div>
    <% else %>
    <% current_user.taught_courses.each do |course| %>
        <div data-id=<%=course.id%> class="card">
            <div data-id=<%=course.id%> class="pure-menu pure-menu-open pure-menu-horizontal" id="test-menu">
                <ul data-id=<%=course.id%>>
                    <li data-id=<%=course.id%> class="student_roster_link pure-menu-selected"><a href="#"><%=course.name%></a></li>
                    <li data-id=<%=course.id%> class="stories_link"><a href="">Stories</a></li>
                    <li data-id=<%=course.id%> class="recent_comments_link"><a href="">Recent Comments</a></li>
                </ul>
                    <li ><%= button_to "Delete this course", course_path(id: course.id), method: :delete, data: {confirm: 'NOTICE: This course will be deleted. Are you sure? '}, class: "pure-button button-class" %></li>
            </div>
            <div class="class_info" data-id=<%=course.id%> id="class_info<%=course.id%>">
                <div class="student_roster" data-id=<%=course.id%>>
                    <%= render partial: '/users/teachers/all_students', locals: {students: course.users, course_id: course.id}  %>
                </div>
                <% if course.stories.size > 0 %>
                <div data-id=<%=course.id%> class="stories_for_class" style="display: none;"><%= render partial: '/users/teachers/all_stories',  locals: {stories: course.stories} %>
                </div>
                <div data-id=<%=course.id%> class="comments_for_stories" style="display: none;"><%= render partial: '/users/teachers/teacher_comments_feed',  locals: {comments: course.recent_comments} %></div>
                <% else %>
                <div data-id=<%=course.id%> class="stories_for_class" style="display: none; margin: 5%" >
                    <a href="/stories/new">No Stories Yet, Add One! </a>
                </div>
                <% end %>
            </div>
        </div>
    <% end %>
<% end %>
