
<% current_user.taught_courses.each do |course| %>
<div class="card">
	<div class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul>
			<li class="pure-menu-selected"><a href="#"><%=course.name%></a></li>
			<li><a href="#">Stories</a></li>
			<li><a href="#">Recent Comments</a></li>
				<li ><%= button_to "Delete this course", course_path(id: course.id), method: :delete, data: {confirm: 'NOTICE: This course will be deleted. Are you sure? '}, class: "pure-button button-error" %>
			</ul>
		</ul>
	</div>
	<%= render partial: '/users/teachers/all_students', locals: {students: course.users, course_id: course.id}  %>
</div>
<% if course.stories.size > 0 %>
<div class="stories_for_class" hidden><%= render partial: '/users/teachers/all_stories',  locals: {stories: course.stories} %></div>
<div class="comments_for_stories" hidden><%= render partial: '/stories/comments_feed',  locals: {story: course.stories.first} %></div>
<% end %>
<% end %>

