<div id="user_type">
<h2>User type</h2>
  <%= form_for current_user, method: :patch do |f| %>

  <div>
    <%= f.label :teacher %>
    <%= f.radio_button :role, 'teacher' %>
  </div>

  <div>
    <%= f.label :student %>
    <%= f.radio_button :role, 'student' %>
  </div>

  <div>
    <%= f.submit "Submit Your Status", class:"pure-button pure-button-primary" %>
  </div>

  <% end %>
</div>
