<div data-card="commentsfeed" data-story="<%=story.id%>" class="card comment_card" id="comments_card">
	<% story.newest_comments.each do |comment| %>
			<%= render partial: '/comments/render_comment', locals: {comment: comment} %>
			
				<a 
				data-story="<%= comment.sentence.paragraph.story.id %>"
				data-sentence-link="<%= comment.sentence.story_sentence%>" 
				href="/stories/<%= comment.sentence.paragraph.story.id %>/#<%= comment.sentence.story_sentence%>">
				on Sentence <%= comment.sentence.story_sentence %>
			</a>
	<br>
	<% end %>
</div>