<div data-id=<%=story.id%> class="card">
	<div data-story=<%=story.id%> class="pure-menu pure-menu-open pure-menu-horizontal">
		<ul data-id=<%=story.id%>>
			<li data-id=<%=story.id%> data-number=0 class="li_link pure-menu-selected"><a href='#'>Recent Comments</a></li>
			<li data-id=<%=story.id%> data-number=1 class="li_link"><a href="">Most Commented Sentences</a></li>
			<li data-id=<%=story.id%> data-number=2 class="li_link"><a href="">Frequent Commentors</a></li>
		</ul>
	</div>
	<div class="class_info" data-id=<%=story.id%> id="class_info<%=story.id%>">
		<div class="recent_comments" data-id=<%=story.id%>>
			<%= render partial: 'comments_feed', locals: {story: @story} %>
		</div>
		<div data-id=<%=story.id%> class="commented_sentences" style="display: none;">
		<%= render partial: 'most_commented', locals: {story: @story} %> 
		</div>
		<div data-id=<%=story.id%> class="frequent_commentors" style="display: none;">
			<%= render partial: 'active_users', locals: {story: @story} %>
		</div>
	</div>
</div>
