<div class="storycreate pure-form">
  <h2>Tell us about your story!</h2>
  <fieldset>
  <%= form_for @story,html: {multipart: true} do |f| %>
    <%= f.text_field :title, placeholder: "Title",  class:"pure-input-1-3", data: {field: "title"} %><br>
    <%= f.text_field :author, placeholder: "Author",  class:"pure-input-1-3", data: {field: "author"} %><br>
    <%= render partial: 'course_dropdown', :locals => {:courses => @courses } %><br>
    <%= f.label :text_file, "Upload a story (.txt only)" %><br>
    <%= f.file_field :text_file %><br>
    <p>Or paste your story here:</p>
    <textarea placeholder="Paste your story here" class="new_story_body" name="story_body"rows="50" cols="80">
    </textarea>
    <br><br><br>
    <%= f.label :file, "Upload an image to go with your story!" %>
    <br>
    <br>
    <div class="pure-u-1 pure-u-md-1-3"> 
    <%= f.file_field :file%>
    </div>
    <br>
    <%= f.label :remote_file_url, "or use an image URL" %>
    <br>
    <%= f.text_field :remote_file_url %>
    <br>
    <br>
    <%= button_tag(type: "submit", :class => "pure-button button-secondary") {content_tag(:strong, "Post!" )}%>
  <% end %>
  </fieldset>
</div>
