<h1 id="story_title"><%= @story.title %></h1>
<div class="photo-with-caption">
	<img class="story-photo" src="<%= @story.file %>">
</div>
<br>
<section id="story_info">
	By: <span id="author"><%= @story.author %></span>
</section>


<% @story.paragraphs.each do |paragraph| %>
	<p class="paragraph"><%= render partial: 'paragraph', locals: {paragraph: paragraph} %></p>
<% end %>


<%= render partial: 'comments_feed', locals: {story: @story} %>

<%= render partial: 'most_commented', locals: {story: @story} %>

<%= render partial: 'active_users', locals: {story: @story} %>
