<script>
YUI({
    classNamePrefix: 'pure'
}).use('gallery-sm-menu', function (Y) {

    var horizontalMenu = new Y.Menu({
        container         : '.pure-menu',
        sourceNode        : '#std-menu-items',
        orientation       : 'horizontal',
        hideOnOutsideClick: false,
        hideOnClick       : false
    });

    horizontalMenu.render();
    horizontalMenu.show();

});
</script>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul id="std-menu-items">
  <li><a href="/">Home</a></li>
  <% if current_user == nil %>
  <li>
      <%= link_to  auth_path do %>
      <img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png" style="width: 182px; height: 40px; ">
      <% end  %>
    </li>
  <% elsif current_user.role == "teacher" %>
  <li>
    <%= link_to "#{current_user.name}", user_path(current_user) %>
  </li>

  <li>
    <a href="/stories/new">Story+ <span id="book_icon" class="entypo-book-open"></span></a>
  </li>

  <li>
    <a href="/courses/new">Course+ <span id="course_icon" class="entypo-doc-text"></span></i></a>
  </li>

  <li>
    <a href="/hashtags">Trending </a>
  </li>
  
  <li id="notifications">
     <a href="#">Notifications</a>
    <%= render partial: "users/notification", :locals => {:notifications => current_user.notifications.limit(5).order(created_at: :desc)} %>
  </li>

  <li>
    <%= link_to  logout_path, :method => 'post' do %>
    Sign Out
  <% end  %>
  </li>
  <% else %>

  <section id="login_box">
    <%= link_to  logout_path, :method => 'post' do %>
    <section id="google_plus"><i class="fa fa-google-plus"></i></section>
    <span id="login_with_text">Logout With</span>
  </section>
  <% end  %>

  <section id="nav-name">
    <%= link_to "#{current_user.name}", user_path(current_user) %>
  </section>

  <section id="nav-student" class="nav_buttons">
    <a href="/enrollments/new">Enroll+<span id="book_icon" class="entypo-doc-text"></span></a>
  </section>

  <section id="nav-view-hashtags" class="nav_buttons">
    <a href="/hashtags">Trending <span id="book_icon" class="entypo-book-open"></span></a>
  </section>


  <% end %>  
  </ul>
</div>
