<!DOCTYPE html>
<html>
<head>
  <title>Bibliotate</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700' rel='stylesheet' type='text/css'>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <script>"https://yui-s.yahooapis.com/3.18.1/build/yui/yui-min.js"</script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial:'/layouts/nav' %>
  <%= render partial:'/layouts/messages' %>

  <main>
    <%= yield %>
  </main>
  <div class="footer l-box">
    <p>
      <a href="/">Bibliotate 2014<i class="fa fa-book"></i></a> 
    </p>
  </div>
  
</body>
</html>
